<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="waiting">Queue</a>
        </li>
    </ul>
</div>

<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Auftragsart">
        <div>
            <h4>editStammdata</h4>
            <bxp-stammdata save="vm.onsave" route="auftragsart"></bxp-stammdata>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Grundlagen">
        <div>
            <h4>editStammdata</h4>
            <bxp-stammdata save="vm.onsave" route="grundlagen"></bxp-stammdata>
        </div>
    </uib-tab>
</uib-tabset>