<!--BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="dashboard">Dashboard</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> Dashboard </h3>

<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->

<div>
    <div class="centered">
        
        <h1>Mr. Papakci's Area <button ng-click="vm.addKunde()">(click me!)</button></h1>
        <h1>Create PDF <button ng-click="vm.openAsPdf()">(+)</button></h1>

        <div class="dahsboard-flex-container">
            <div class="dashboard-flex one">
                <div class="bxp-message-box warning no-margin-top">
                    <i class="fa fa-lightbulb-o"></i>
                    <!-- <br> -->
                    <p>Two most use cases:</p>
                    <ul>
                        <li><a target="_blank" href="https://www.bauexperts.de/images/Bauexperts-Portal-Use-Case-Auftrag.pdf">Use case: Offer <em>(pdf, 600kb)</em></a></li>
                        <li><a target="_blank" href="https://www.bauexperts.de/images/Bauexperts-Portal-Use-Case-Storno.pdf">Use case: Storno <em>(pdf, 300kb)</em></a></li>
                    </ul>
                </div>
            </div>

            <bxp-new-requests></bxp-new-requests>
            <bxp-statistics></bxp-statistics>

        </div>



        <div class="bxp-message-box warning no-margin-top">
            <p>{{vm.testMessage}}</p>
            <a ng-click="vm.alertExample()" href="#">alertExample</a>
            <a ng-click="vm.modalExample()" href="#">modalExample</a>
        </div>

        <div>
            <h4>Documents</h4>
            <p>This demonstrates use of upload-component. Note: it has testData on Server, upload and delete just changes local data. We actually use vm.uploads inside our forms, so, when we submit our forms, it also sends our vm.uploads. Like that, we have advantage that on closing the form without submitting, all 'deleted files' are reverted in case the customer wants to revert his changes </p>
            <bxp-upload-component make-disabled="false" hide-content="false" uploadtype="normal" onsave="vm.onsave" uploads="vm.uploads" ondelete="vm.deleteUpload">
            </bxp-upload-component>
        </div>

        <!-- <div>
            <h4>editStammdata</h4>
            <bxp-stammdata save="vm.onsave" data="vm.testMasterData"></bxp-stammdata>
        </div> -->
    </div>
</div>

<!-- END MAIN CONTENT -->
