<form action="#" name="Detection" role="form" id="detection" ng-dirty ng-model="state" func="FormCtrl.closeModal"
close-esc-key ng-submit="submitForm($event)" class="bxp-form group" ng-class="{ 'bxp-customer-auftrag': FormCtrl.isAuftrag}"
 novalidate autocomplete="off"></form>
<bxp-responsive-in-modal form-name="Detection" selected-tab="FormCtrl.selectedTab" close-modal="FormCtrl.closeModal"
 submit-form="FormCtrl.submitForm">

	<div class="bxp-header-modal">
		<h3>Feststellung</h3>
	</div>

	<div class="bxp-container" style="padding-right: 30px;">
		<div class="form-group group">
			<div class="bxp-col-6 float-left form-group group">Nr: {{ FormCtrl.selectedDetection.number }}</div>

			<div class="bxp-col-6 float-right form-group group" style="display:flex; justify-content: flex-end;">
				<div>{{ FormCtrl.selectedIdx + 1 }}/{{ FormCtrl.detections.length }}</div>
				<button class="bxp-rounded-button small add" ng-disabled="!FormCtrl.isCanGoPrev" style="margin-left:10px!important;" ng-click="FormCtrl.previousPage()"
				 required><i class="fa fa-arrow-left"></i></button>
				<button class="bxp-rounded-button small add" ng-disabled="!FormCtrl.isCanGoNext" style="margin-left:10px!important;" ng-click="FormCtrl.nextPage()"
				 required><i class="fa fa-arrow-right"></i></button>
			</div>
		</div>

		<div class="form-group group event-date-time-container">
			<div class="float-left group">
				<input class="form-control event-date float-left" type="date" name="date" ng-model="FormCtrl.selectedDetection.detail.date"
				 required>
				<div class="event-time float-left" uib-timepicker ng-model="FormCtrl.selectedDetection.detail.datetime" hour-step="1"
				 minute-step="5" show-meridian="false" required></div>
			</div>
		</div>

		<!-- <div class="form-group group">
								<div class="bxp-col-6 float-left form-group group">
									<label class="control-label bxp-label float-left">Datum</label>
									<input class="form-control bxp-input float-left" type="text" name="date" ng-disabled="" ng-model="" />
								</div>
			   
								<div class="bxp-col-6 float-left form-group group">
									<div class="row">
									   <label class="control-label bxp-label float-left">Uhrzeit</label>
									   <input class="form-control bxp-input float-left" ui-number-mask="0" maxlength="2" type="text" ng-disabled="" ng-model="FormCtrl.selectedDetection.detail.hour"/>:
									   <input class="form-control bxp-input float-right" ui-number-mask="0" maxlength="2" type="text" ng-disabled="" ng-model="FormCtrl.selectedDetection.detail.minute"/>
									</div>
								</div>
							</div> -->

		<div class="form-group group">
			<label class="control-label bxp-label float-left">Prüffeld</label>
			<div class="form-group modal-form-group width-100 group">
				<div class="bxp-input float-left edit-icon-container">
					<ui-select ng-disabled="vm.make" ng-model="FormCtrl.selectedDetection.detail.testField" theme="bootstrap"
					 remove-selected="false">
						<ui-select-match allow-clear>{{ $select.selected.name }}</ui-select-match>
						<ui-select-choices repeat="item.id as item in FormCtrl.testFields | filter: $select.search | groupBy: item.group">
							<span ng-bind-html="item.name  | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>

					<!-- <ui-select class="bxp-input float-left" ng-model="FormCtrl.selectedDetection.detail.testField" theme="bootstrap" title="Choose Art" on-select="" on-remove="" remove-selected="false">
						<ui-select-match allow-clear placeholder=''>{{$select.selected.value}}</ui-select-match>
						<ui-select-choices repeat="leistung.id as leistung in FormCtrl.orderTypes | filter: $select.search">
							<div ng-bind-html="leistung.value | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select> -->

					<a class="edit-icon"><i class="fa fa-cog"></i></a>
				</div>
			</div>
		</div>

		<div class="form-group group">
			<label class="control-label bxp-label float-left">Lage/Position</label>
			<input class="form-control bxp-input float-left" type="text" ng-disabled="" ng-model="FormCtrl.selectedDetection.detail.position"
			 required />
		</div>

		<div class="form-group group">
			<label class="control-label bxp-label float-left">Titel</label>
			<input class="form-control bxp-input float-left" type="text" ng-disabled="" ng-model="FormCtrl.selectedDetection.title" />
		</div>

		<div class="form-group group">
			<label class="control-label bxp-label float-left">Beurteilung</label>
			<div class="bxp-input float-left edit-icon-container">
				<ui-select ng-disabled="vm.make" ng-model="FormCtrl.selectedDetection.detail.evaluation" theme="bootstrap"
				 remove-selected="false">
					<ui-select-match allow-clear>{{
						$select.selected.name
						}}</ui-select-match>
					<ui-select-choices repeat="item.id as item in FormCtrl.evaluations | filter: $select.search">
						<span ng-bind-html="item.name  | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
				<a class="edit-icon"><i class="fa fa-cog"></i></a>
			</div>
		</div>

		<div class="form-group group">
			<label class="control-label bxp-label float-left">Status</label>
			<div class="bxp-input float-left edit-icon-container">
				<ui-select ng-disabled="vm.make" ng-model="FormCtrl.selectedDetection.detail.status" theme="bootstrap"
				 remove-selected="false">
					<ui-select-match allow-clear>{{
						$select.selected.name
						}}</ui-select-match>
					<ui-select-choices repeat="item.id as item in FormCtrl.statuses | filter: $select.search">
						<span ng-bind-html="item.name  | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
				<a class="edit-icon"><i class="fa fa-cog"></i></a>
			</div>
		</div>

		<div class="form-group group">
			<label class="control-label bxp-label float-left">Grundlagen</label>
			<div class="bxp-input float-left edit-icon-container">
				<ui-select ng-disabled="vm.make" ng-model="FormCtrl.selectedDetection.detail.basics" theme="bootstrap"
				 remove-selected="false">
					<ui-select-match allow-clear>{{
						$select.selected.value
						}}</ui-select-match>
					<ui-select-choices repeat="item.id as item in FormCtrl.basics | filter: $select.search">
						<span ng-bind-html="item.value  | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
				<a class="edit-icon"><i class="fa fa-cog"></i></a>
			</div>
		</div>

		<div class="form-group group">
			<label class="control-label bxp-label float-left">Beschreibung</label>

			<div class="bxp-input float-left edit-icon-container">
				<textarea class="form-control" rows="4" cols="50" ng-model="FormCtrl.selectedDetection.detail.description">
										</textarea>
				<a class="edit-icon" ng-click="FormCtrl.openTextSnippetModal()"><i class="fa fa-cog"></i></a>
			</div>
		</div>

		<div class="bxp-form-note mt-5px mb-10px">Kosten</div>

		<div class="form-group group">
			<div class="bxp-col-6 float-left group">
				<div class="group" style="margin-bottom:15px;">
					<label class="control-label bxp-label float-left" style="width:40%!important;">Beseitigung</label>
					<input class="form-control bxp-input float-left" style="width:58%!important;" type="text" ui-number-mask="2"
					 maxlength="" ng-disabled="" ng-model="FormCtrl.selectedDetection.detail.costs.disposalCost" />
				</div>

				<div class="group">
					<label class="control-label bxp-label float-left" style="width:40%!important;">Wertminderung</label>
					<input class="form-control bxp-input float-left" style="width:58%!important;" type="text" ui-number-mask="2"
					 maxlength="" ng-disabled="" ng-model="FormCtrl.selectedDetection.detail.costs.impairment" />
				</div>
			</div>

			<div class="bxp-col-6 float-left group">
				<div class="group" style="margin-bottom:15px;">
					<label class="control-label bxp-label float-left" style="width:40%!important;">Einbehalt</label>
					<input class="form-control bxp-input float-left" style="width:58%!important;" type="text" ui-number-mask="2"
					 maxlength="" ng-disabled="" ng-model="FormCtrl.selectedDetection.detail.costs.recoup" />
				</div>

				<input id="printable" type="checkbox" name="doNotprintItMan" value="doNotprintItMan" ng-model="FormCtrl.selectedDetection.detail.costs.isPrint" />
				<label for="printable">Kosten nicht ausdrucken</label><br />
			</div>
		</div>

		<div>
            <h4>Images</h4>
            <p>This demonstrates use of upload-component. Note: it has testData on Server, upload and delete just changes local data. We actually use vm.uploads inside our forms, so, when we submit our forms, it also sends our vm.uploads. Like that, we have advantage that on closing the form without submitting, all 'deleted files' are reverted in case the customer wants to revert his changes </p>
            <bxp-image-upload make-disabled="false" hide-content="false" uploadtype="normal" onsave="vm.onsave" uploads="FormCtrl.selectedDetection.documents" ondelete="vm.deleteUpload">
            </bxp-image-upload>
        </div>
	</div>

</bxp-responsive-in-modal>
</form>