<form action="#" name="Detection" role="form" id="detection" ng-dirty ng-model="state" func="FormCtrl.closeModal" close-esc-key
 ng-submit="submitForm($event)" class="bxp-form group" ng-class="{ 'bxp-customer-auftrag': FormCtrl.isAuftrag}"
 novalidate autocomplete="off"></form>
<bxp-responsive-in-modal form-name="Detection" selected-tab="FormCtrl.selectedTab" close-modal="FormCtrl.closeModal"
 submit-form="FormCtrl.submitForm">

 	<div class="bxp-header-modal">
 		<h3>Feststellung</h3>
 	</div>

 	<div class="bxp-container">
 			<div class="form-group group">
 				<div class="bxp-col-6 float-left form-group group">Nr</div>

 				<div class="bxp-col-6 float-right form-group group" style="display:flex; justify-content: flex-end;">
 					<div>{{ FormCtrl.detailIdx + 1 }}/16</div>
 					<button class="bxp-rounded-button small add" style="margin-left:10px!important;" ng-click="FormCtrl.previousPage()" required><i class="fa fa-arrow-left"></i></button>
 					<button class="bxp-rounded-button small add" style="margin-left:10px!important;" ng-click="FormCtrl.nextPage(FormCtrl.detection.detail[FormCtrl.detailIdx])" required><i class="fa fa-arrow-right"></i></button>
 				</div>
 			</div>

 			<div class="form-group group">
 				<div class="bxp-col-6 float-left form-group group">
 					<label class="control-label bxp-label float-left">Datum</label>
 					<input class="form-control bxp-input float-left" type="text" name="date" ng-disabled="" ng-model="FormCtrl.detection.date" />
 				</div>

 				<div class="bxp-col-6 float-left form-group group">
					 <div class="row">
						<label class="control-label bxp-label float-left">Uhrzeit</label>
						<input class="form-control bxp-input float-left" ui-number-mask="0" maxlength="2" type="text" ng-disabled="" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].hour"/>:
						<input class="form-control bxp-input float-right" ui-number-mask="0" maxlength="2" type="text" ng-disabled="" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].minute"/>
					 </div>
 				</div>
 			</div>

 			<div class="form-group group">
 				<label class="control-label bxp-label float-left">Prüffeld</label>
 				<div class="form-group modal-form-group width-100 group">
 					<div class="bxp-input float-left edit-icon-container">
 						<ui-select ng-disabled="vm.make" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].testField" theme="bootstrap" remove-selected="false">
 							<ui-select-match>{{ $select.selected.name }}</ui-select-match>
 							<ui-select-choices repeat="item in FormCtrl.testFields | filter: $select.search | groupBy: item.group">
 								<span ng-bind-html="item.name  | highlight: $select.search"></span>
 							</ui-select-choices>
 						</ui-select>
 						<a class="edit-icon"><i class="fa fa-cog"></i></a>
 					</div>
 				</div>
 			</div>

 			<div class="form-group group">
 				<label class="control-label bxp-label float-left">Lage/Position</label>
 				<input class="form-control bxp-input float-left" type="text" ng-disabled="" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].position" required/>
 			</div>

 			<div class="form-group group">
 				<label class="control-label bxp-label float-left">Titel</label>
 				<input class="form-control bxp-input float-left" type="text" ng-disabled="" ng-model="FormCtrl.detection.title"/>
 			</div>

 			<div class="form-group group">
 				<label class="control-label bxp-label float-left">Beurteilung</label>
 				<div class="bxp-input float-left edit-icon-container">
 					<ui-select ng-disabled="vm.make" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].evaluation" theme="bootstrap" remove-selected="false">
 						<ui-select-match>{{
 							$select.selected.name
 							}}</ui-select-match>
 						<ui-select-choices repeat="item in FormCtrl.evaluations | filter: $select.search">
 							<span ng-bind-html="item.name  | highlight: $select.search"></span>
 						</ui-select-choices>
 					</ui-select>
 					<a class="edit-icon"><i class="fa fa-cog"></i></a>
 				</div>
 			</div>

 			<div class="form-group group">
 				<label class="control-label bxp-label float-left">Status</label>
 				<div class="bxp-input float-left edit-icon-container">
 					<ui-select ng-disabled="vm.make" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].status" theme="bootstrap" remove-selected="false">
						<ui-select-match>{{
							$select.selected.name
							}}</ui-select-match>
						<ui-select-choices repeat="item in FormCtrl.statuses | filter: $select.search">
							<span ng-bind-html="item.name  | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
 					<a class="edit-icon"><i class="fa fa-cog"></i></a>
 				</div>
 			</div>

 			<div class="form-group group">
 				<label class="control-label bxp-label float-left">Grundlagen</label>
 				<div class="bxp-input float-left edit-icon-container">
 					<ui-select ng-disabled="vm.make" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].basics" theme="bootstrap" remove-selected="false">
 						<ui-select-match>{{
 							$select.selected.name
 							}}</ui-select-match>
 						<ui-select-choices repeat="item in FormCtrl.basics | filter: $select.search">
 							<span ng-bind-html="item.name  | highlight: $select.search"></span>
 						</ui-select-choices>
 					</ui-select>
 					<a class="edit-icon"><i class="fa fa-cog"></i></a>
 				</div>
 			</div>

 			<div class="form-group group">
 				<label class="control-label bxp-label float-left">Beschreibung</label>

 				<div class="bxp-input float-left edit-icon-container">
 						<textarea class="form-control" rows="4" cols="50" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].description">
 		            	</textarea>
 						<a class="edit-icon" ng-click="FormCtrl.openTextSnippetModal()"><i class="fa fa-cog"></i></a>
 				</div>
 			</div>

 			<div class="bxp-form-note mt-5px mb-10px">Kosten</div>

 			<div class="form-group group">
 				<div class="bxp-col-6 float-left group">
 					<div class="group" style="margin-bottom:15px;">
 						<label class="control-label bxp-label float-left" style="width:40%!important;">Beseitigung</label>
 						<input class="form-control bxp-input float-left" style="width:58%!important;" type="text" ui-number-mask="2" maxlength="" ng-disabled="" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].costs.disposalCost"/>
 					</div>

 					<div class="group">
 						<label class="control-label bxp-label float-left" style="width:40%!important;">Wertminderung</label>
 						<input class="form-control bxp-input float-left" style="width:58%!important;" type="text" ui-number-mask="2" maxlength="" ng-disabled="" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].costs.impairment"/>
 					</div>
 				</div>

 				<div class="bxp-col-6 float-left group">
 					<div class="group"style="margin-bottom:15px;">
 						<label class="control-label bxp-label float-left" style="width:40%!important;">Einbehalt</label>
 						<input class="form-control bxp-input float-left" style="width:58%!important;" type="text" ui-number-mask="2" maxlength="" ng-disabled="" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].costs.recoup"/>
 					</div>

 					<input id="printable" type="checkbox" name="doNotprintItMan" value="doNotprintItMan" ng-model="FormCtrl.detection.detail[FormCtrl.detailIdx].costs.isPrint"/>
 					<label for="printable">Kosten nicht ausdrucken</label><br />
 				</div>
 			</div>

 			NOTE: open a new tab for the images!
 	</div>

	
</bxp-responsive-in-modal>
</form>