
<!--div class="row table-responsive"-->
<form action="#" name="formKunde" role="form" id="formKunde"  ng-model="state" func="FormCtrl.closeModal" close-esc-key ng-submit="submitForm($event)" class="bxp-form group" ng-class="{ 'bxp-customer-auftrag': FormCtrl.isAuftrag}" novalidate autocomplete="off">
	<bxp-responsive-tabs form-name="Kunde" tabs="tabs" selected-tab="FormCtrl.selectedTab" close-modal="FormCtrl.closeModal" submit-form="submitForm">
		<bxp-responsive-tab tab="Auftragsdaten" selected-tab="FormCtrl.selectedTab">
			<div class="bxp-form-container group">
				<div class="bxp-col-6 float-left">
				  <div class="bxp-form-note mt-5px mb-10px">Auftraggeber</div>
				 
				  <div class="form-group group mb-10px" ng-class="{ 'has-error' : setKundennummerInvalid && formAuftrag.Kundennummer.$pristine}">
				    <div ng-if="!FormCtrl.isNewKunde">
			          <label class="control-label float-left interessenten-nr">{{FormCtrl.kunde.customerType === "Interessent" ? "Interessenten-Nr." : "Kunden-Nr."}}</label>
			          <label min="1" step="1" name="Kundennummer" id='idKundennummer' class="bxp-input bxp-input-gender float-left" >...</label>
				          
				    </div>

				    <button ng-if="FormCtrl.isEmployee" class="float-right bxp-edit history-toggle-button" type="button" ng-click="FormCtrl.changeCustomer()"> Kunden ändern</button>
				  </div>

				  <div class="form-group group">
				    <label class="control-label bxp-label float-left">Anschrift:</label>
				    <div class="bxp-input float-left">
				      <label class="radio-inline">
				        <input ng-disabled="FormCtrl.svRequestState" type="radio" value="privat" ng-model="FormCtrl.kunde.privatFirma"> Privat
				      </label>
				      <label class="radio-inline">
				        <input ng-disabled="FormCtrl.svRequestState" type="radio" value="firma" ng-model="FormCtrl.kunde.privatFirma" > Firma
				      </label>
				    </div>
				  </div>

				  <div class="check-element animate-show-hide" ng-if="FormCtrl.kunde.privatFirma == 'firma'">

				    <div class="form-group group" ng-class="{ 'has-error' : formAuftrag.Firma.$invalid && FormCtrl.submitted }">
				      <label class="control-label bxp-label float-left">Firma<span class="required">*</span></label>
				      <input name="Firma" ng-blur="FormCtrl.checkDuplicates($event)" ng-model="FormCtrl.kunde.nachnameFirma" id="Firma" class="form-control bxp-input float-left" type="text" required>
				    </div>

				    <div class="form-group group">
				      <label class="control-label bxp-label float-left">Zusatz</label>
				      <input name="Zusatz" ng-model="FormCtrl.kunde.zusatz" id="Zusatz" class="form-control bxp-input float-left" type="text">
				    </div>
				  </div>

				  <div ng-controller="UISelectController as ctrl">
				    <div class="check-element animate-show-hide" ng-if="FormCtrl.kunde.privatFirma == 'privat'">
				      <div class="form-group group">
				        <label class="bxp-label control-label float-left">Anrede</label>
				        <div class="bxp-input-gender float-left">
				          <ui-select ng-model="FormCtrl.kunde.selectedGen" theme="bootstrap" remove-selected="false" ng-disabled="FormCtrl.svRequestState">
				            <ui-select-match allow-clear>{{$select.selected}}</ui-select-match>
				            <ui-select-choices repeat="item in ctrl.gender | filter: $select.search">

				              <span ng-bind-html="item | highlight: $select.search"></span>

				            </ui-select-choices>
				          </ui-select>
				        </div>

				        <label class="control-label bxp-label bxp-label-title float-left">Titel</label>
				        <div class="bxp-input-title float-left">
				          <ui-select ng-if="1==2" ng-model="FormCtrl.kunde.selectedTit" theme="bootstrap" remove-selected="false" ng-disabled="FormCtrl.svRequestState">
				            <ui-select-match allow-clear>{{$select.selected}}</ui-select-match>
				            <ui-select-choices repeat="item in ctrl.title | filter: $select.search">
				              <span ng-bind-html="item | highlight: $select.search"></span>
				            </ui-select-choices>
				          </ui-select>
				          <input type="text" ng-model="FormCtrl.kunde.selectedTit" ng-model-options="FormCtrl.modelOptions" ng-disabled="FormCtrl.svRequestState" uib-typeahead="item for item in ctrl.title  | filter:$viewValue | limitTo:8" class="form-control bxp-input float-left" autocomplete="off" />
				        </div>
				      </div>
				      <div class="form-group group" >
				        <div ng-class="{ 'has-error' : formAuftrag.lastName.$invalid && FormCtrl.submitted }">
				          <label class="control-label bxp-label float-left">Nachname</label>
				          <input name="lastName" ng-blur="FormCtrl.checkDuplicates($event)" ng-model="FormCtrl.kunde.nachnameFirma" id="lastName" class="form-control bxp-input bxp-input-gender float-left" type="text" ng-disabled="FormCtrl.svRequestState">
				        </div>
				        <div ng-class="{ 'has-error' : formAuftrag.firstName.$invalid && FormCtrl.submitted }">
				          <label class="control-label bxp-label bxp-label-title float-left">Vorname</label>
				          <input name="firstName" ng-model="FormCtrl.kunde.firstName" class="form-control bxp-input bxp-input-title float-left" type="text" ng-disabled="FormCtrl.svRequestState"/>
				        </div>
				      </div>

				    </div>
				  </div>
				  <bxp-address on-select="FormCtrl.onSelect" ng-model="FormCtrl.kunde.address" make="FormCtrl.svRequestState"></bxp-address>

				  <div class="form-group group">
				      <label class="control-label bxp-label float-left">Tel</label>
				      <input type="text" name="tnumber" ng-blur="FormCtrl.checkDuplicates($event)"  ng-model="FormCtrl.kunde.tnumber" class="form-control bxp-input bxp-input-gender float-left" ng-disabled="FormCtrl.svRequestState" />
				      <label class="control-label bxp-label bxp-label-title float-left">Mobil</label>
				      <input type="text" name="mnumber" ng-blur="FormCtrl.checkDuplicates($event)"  ng-model="FormCtrl.kunde.mnumber" class="form-control bxp-input bxp-input-title float-left" ng-disabled="FormCtrl.svRequestState" />
				  </div>
				  <div class="form-group group" ng-class="{ 'has-error' : formAuftrag.email.$error.pattern && FormCtrl.submitted && !FormCtrl.isStornoNoValid}">
				      
				    <label ng-if="FormCtrl.kunde.email && !FormCtrl.svRequestState" class="control-label bxp-label float-left">
				      <a href="mailto:{{FormCtrl.kunde.email}}" style="position:relative; padding-right:24px;">
				        E-Mail
				        <svg style="max-width: 20px; position:absolute; right:0; top:2px;" version="1.1" id="mobile-mail" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				           viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve">
				        <g>
				          <polygon fill="#6bacdd" points="120.4,145.7 99,169.1 99,20.5  "/>
				          <g>
				            <polygon fill="#a0ceea" points="77.6,145.7 99,169.1 99,20.5     "/>
				            <polygon opacity="0.3" fill="#a0ceea" points="77.6,145.7 99,169.1 99,20.5     "/>
				          </g>
				          <g>
				            <polygon fill="#337ab7" points="120.4,145.7 192,153.4 99,20.5     "/>
				            <polygon opacity="0.15" fill="#337ab7" points="120.4,145.7 192,153.4 99,20.5    "/>
				          </g>
				          <polygon fill="#337ab7" points="77.6,145.7 6,153.4 99,20.5  "/>
				        </g>
				        </svg>
				      </a>
				    </label>
				    <label class="control-label bxp-label float-left" ng-if="!FormCtrl.kunde.email || FormCtrl.svRequestState" for="email">E-Mail</label>

				      <input type="text" ng-blur="FormCtrl.checkDuplicates($event)" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="email" ng-model="FormCtrl.kunde.email" class="form-control bxp-input contactpos number float-left" ng-disabled="FormCtrl.svRequestState" />
				      <p ng-show="formAuftrag.email.$error.pattern  && (formAuftrag.email.$touched || FormCtrl.submitted) && !FormCtrl.isStornoNoValid" class="help-block"><i class="fa fa-warning"></i> Bitte geben Sie eine gültige E-Mail Adresse an.</p>
				  </div>


				  <div class="group">
				      <a ng-if="!FormCtrl.svRequestState" ng-click="FormCtrl.weitereFelder()" class="float-left"> Weitere Felder anzeigen</a>
				      <a ng-if="!FormCtrl.svRequestState && FormCtrl.isEmployee && 1==2" class="float-right" ng-click="FormCtrl.chooseCustomer()">Aus Stammdaten laden</a>
				  </div>
				  <p class="mt-10px" style="font-size: 12px;">Sie können die Adressdaten eingeben oder <a href=#0>aus den Stammdaten wählen.</a></p>
				</div>

				<div class="bxp-col-6 float-left">
				  <div class="bxp-form-note mt-5px mb-10px group">Objekt</div>
				  	<div class="group">
			          <label class="control-label float-left interessenten-nr">Objekt-Nr.</label>
			          <label min="1" step="1" name="Objektnummer" id='' class="bxp-input bxp-input-gender float-left" >...</label>
				          
				    </div>
				    <p><b>Fields below are just dummy, plz use the component/existing solutions!</b></p>
				  	<div class="form-group group">
				  	  <label class="control-label bxp-label float-left">Objektart</label>
				  	  <ui-select ng-disabled="FormCtrl.svRequestState" class="bxp-input float-left" ng-model="FormCtrl.formData.objekte[FormCtrl.selectedObject].selectedType" theme="bootstrap" remove-selected="false">
				  	    <ui-select-match allow-clear>{{$select.selected}}</ui-select-match>
				  	    <ui-select-choices repeat="item in FormCtrl.objektTypen | filter: $select.search">
				  	      <span ng-bind-html="item | highlight: $select.search"></span>
				  	    </ui-select-choices>
				  	  </ui-select>
				  	</div>
				     <div class="form-group modal-adress">
				       <div ng-if="!vm.ignoreRoute" class="group">
				       	
				         <label for="input-street" class="control-label bxp-label float-left">Straße, Nr.</label>
				         <!-- <input ng-disabled="vm.make" name="route" type="text" ng-model="vm.address.route" ng-model-options="vm.modelOptions" uib-typeahead="address for address in vm.getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control bxp-input float-left" autocomplete="off" typeahead-on-select="vm.onSelectCity($item, $model, $label)" /> -->

				         <input ng-disabled="vm.make" name="route" type="text" ng-model="vm.address.route" vs-google-autocomplete="vm.modelOptions" on-select="vm.onSelectCity" is-searching="vm.isSearching" datavalue="vm.route"  class="form-control bxp-input float-left" autocomplete="off" placeholder=" ">

				         <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				       </div>
				     </div>
				     <div class="form-group group">
				       <div>
				           <div class="modal-zip-loc" ng-class="{ 'has-warning' : (!vm.address.postal_code && !vm.address.locality)  && vm.stepforward}">
				             <label for="input-zip" class="control-label bxp-label float-left">PLZ</label>
				             <input ng-disabled="vm.make" name="postal_code" type="text" ng-model="vm.address.postal_code" vs-google-autocomplete="vm.modelOptions" on-select="vm.onSelectCity" is-searching="vm.isSearching" datavalue="vm.route"  class="form-control bxp-input bxp-input-plz float-left" autocomplete="off" placeholder=" " />
				           </div>

				           <div class="modal-zip-loc" ng-class="{ 'has-warning' : (!vm.address.postal_code && !vm.address.locality) && vm.stepforward}">
				             <label for="input-location" class="control-label bxp-label-ort float-left">Ort</label>
				             <div id="locationField" class="bxp-input-ort float-left">
				               <!-- <input ng-disabled="vm.make" name="locality" ng-model="vm.address.locality" class="form-control bxp-input" type="text"/> -->

				               <input ng-disabled="vm.make || vm.disableCity" name="route" type="text" ng-model="vm.address.locality" vs-google-autocomplete="vm.modelOptions" on-select="vm.onSelectCity" is-searching="vm.isSearching" datavalue="vm.route"  class="form-control bxp-input" autocomplete="off" placeholder=" " >

				             </div>
				             <p class="control-label" ng-show="(!vm.address.postal_code && !vm.address.locality) && vm.stepforward">Entweder PLZ oder Ort muss angegeben werden.</p>
				           </div>
				       </div>
				     </div>

				     <div ng-if="!vm.ignoreCountry" class="form-group group modal-country" >
				         <label for="country-select" class="bxp-label control-label float-left">Land</label>
				         <div id="country-select" class="bxp-input country-select float-left">
				             <ui-select ng-disabled="vm.make" ng-model="vm.address.country" theme="bootstrap" remove-selected="false">
				                 <ui-select-match>{{$select.selected.name}}</ui-select-match>
				                 <ui-select-choices repeat="item in vm.countries | filter: $select.search">
				                     <span ng-bind-html="item.name  | highlight: $select.search"></span>
				                 </ui-select-choices>
				             </ui-select>
				         </div>
				     </div>

				      <p class="mt-10px" style="font-size: 12px;">Sie können die Adressdaten eingeben oder <a href=#0>aus den Stammdaten wählen.</a></p>

				  
				</div>
				 
			</div>
			<div class="bxp-form-note mt-5px mb-10px">Weitere Auftragsdaten</div>
			<div class="bxp-form-container group">
				<div class="bxp-col-6 float-left">
					<div class="form-group">
					  <div class="group">
					    <label for="input-street" class="control-label bxp-label float-left">Auftrags-Nr</label>
					    <input type="text" class="form-control bxp-input float-left" placeholder=" " disabled="disabled">
					  </div>
					</div>

					<div class="form-group">
					  <div class="group">
					    <label for="input-street" class="control-label bxp-label float-left">Referenz-Nr d. Kunden</label>
					    <input type="text" class="form-control bxp-input float-left" placeholder="">
					  </div>
					</div>
				</div>

				<div class="bxp-col-6 float-left">
					<div class="form-group">
					  <div class="group">
					    <label for="input-street" class="control-label bxp-label float-left">Datum</label>
					    <input type="text" class="form-control bxp-input float-left" placeholder="">
					  </div>
					</div>

					<div class="form-group">
					  <div class="group">
					    <label for="input-street" class="control-label bxp-label float-left">Auftragsart</label>
					    <div id="country-select" class="bxp-input country-select float-left">
					        <ui-select ng-disabled="vm.make" ng-model="vm.address.country" theme="bootstrap" remove-selected="false">
					            <ui-select-match>{{$select.selected.name}}</ui-select-match>
					            <ui-select-choices repeat="item in vm.countries | filter: $select.search">
					                <span ng-bind-html="item.name  | highlight: $select.search"></span>
					            </ui-select-choices>
					        </ui-select>
					    </div>
					  </div>
					</div>
				</div>

			</div>

			<p class="mt-10px" style="font-size: 12px;">Sie können einen neuen Auftrag anlegen oder <a href=#0>aus vorhandenen Aufträgen wählen.</a></p>
			
		</bxp-responsive-tab>


		<bxp-responsive-tab tab="Projektdaten" selected-tab="FormCtrl.selectedTab">

		</bxp-responsive-tab>

		<bxp-responsive-tab tab="Feststellungen" selected-tab="FormCtrl.selectedTab">
				<div ng-controller="DetectionController as vm">
					<div class="table-responsive row">
						<div style="overflow:auto;" id="onClickHandlerAD" on-mouse-click="vm.onMouseClick()">
							<table id="idAnschr" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" context-menu="menuOptions" style="width: 100%!important">
	
								<thead>
									<tr>
										<th>Nr</th>
										<th>Title</th>
										<th>Feststellung</th>
										<th>Lage</th>
										<th>Datum</th>
										<th>Bild</th>
									</tr>
								</thead>
								<tbody ng-if="vm.anschriften.length == 0" ng-click="vm.newAnschrift()"></tbody>
								<tbody ng-if="vm.anschriften.length != 0">
									<tr ng-dblclick="vm.dblClick(detection)" ng-repeat="detection in vm.detections">
										<td>{{ ::detection.detail.id }}</td>
										<td>{{ ::detection.title }}</td>
										<td>{{ ::detection.detection }}</td>
										<td>{{ ::detection.detail.position }}</td>
										<td>{{ ::detection.date }}</td>
										<td>
											<img src= "{{ detection.coverPicUrl }}" alt="Smiley face" height="40" width="40">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
	
			<div class="bxp-button-container compact group">
				<span class="ta-right float-right">
					<button class="bxp-rounded-button small delete"  ng-disabled="vm.detections.length === 0" ng-click="vm.deleteData()" type="button"><i class="fa fa-trash"></i></button>
					<button class="bxp-rounded-button small edit"  ng-disabled="!vm.detections.length === 0" ng-click="vm.editAnschrift()" type="button"><i class="fa fa-pencil"></i></button>
					<button class="bxp-rounded-button small add" ng-click="vm.newAnschrift()" type="button"><i class="fa fa-plus"></i></button>
				</span>
			</div>
		</bxp-responsive-tab>

		<bxp-responsive-tab tab="Protokolle" selected-tab="FormCtrl.selectedTab">
			<div class="bxp-form-note mt-5px mb-10px">Creating new Feststellung</div>

			<div class="form-group group">
				<div class="bxp-col-6 float-left form-group group">
					Nr 1/16
				</div>

				<div class="bxp-col-6 float-left form-group group">
					<<  >>  (anladin sen :D)
				</div>
			</div>
			
			<div class="form-group group">
				<div class="bxp-col-6 float-left form-group group">
				    <label class="control-label bxp-label float-left">Date (Datum)</label>
				    <input class="form-control bxp-input float-left" type="text" ng-disabled="">
				</div>

				<div class="bxp-col-6 float-left form-group group">
				    <label class="control-label bxp-label float-left">Time (Uhrzeit)</label>
				    <input class="form-control bxp-input float-left" type="text" ng-disabled="">
				</div>
			</div>

			<div class="form-group group">
				<label class="control-label bxp-label float-left">Checking Field (Prüffeld)</label>
				<div class="form-group modal-form-group width-100 group">
				  <div class="bxp-input float-left edit-icon-container">
				    <ui-select ng-disabled="vm.make" ng-model="vm.address.country" theme="bootstrap" remove-selected="false">
				        <ui-select-match>{{$select.selected.name}}</ui-select-match>
				        <ui-select-choices repeat="item in vm.countries | filter: $select.search">
				            <span ng-bind-html="item.name  | highlight: $select.search"></span>
				        </ui-select-choices>
				    </ui-select>
				    <a class="edit-icon"><i class="fa fa-cog"></i></a>
				  </div>
				</div>
			</div>

			<div class="form-group group">
				<label class="control-label bxp-label float-left">Located/Place (Lage/Position)</label>
				<input class="form-control bxp-input float-left" type="text" ng-disabled="">
			</div>

			<div class="form-group group">
				<label class="control-label bxp-label float-left">Title (Titel)</label>
				<input class="form-control bxp-input float-left" type="text" ng-disabled="">
			</div>

			<div class="form-group group">
				<div class="bxp-col-6 float-left group">
					<div class="group">
						<label class="control-label bxp-label float-left">Evaluation (Bewertung)</label>
						<div class="form-group modal-form-group width-100 group">
						  <div class="bxp-input float-left edit-icon-container">
						    <ui-select ng-disabled="vm.make" ng-model="vm.address.country" theme="bootstrap" remove-selected="false">
						        <ui-select-match>{{$select.selected.name}}</ui-select-match>
						        <ui-select-choices repeat="item in vm.countries | filter: $select.search">
						            <span ng-bind-html="item.name  | highlight: $select.search"></span>
						        </ui-select-choices>
						    </ui-select>
						    <a class="edit-icon"><i class="fa fa-cog"></i></a>
						  </div>
						</div>
					</div>

					<div class="group">
						<label class="control-label bxp-label float-left">State (Status)</label>
						<div class="form-group modal-form-group width-100 group">
						  <div class="bxp-input float-left edit-icon-container">
						    <ui-select ng-disabled="vm.make" ng-model="vm.address.country" theme="bootstrap" remove-selected="false">
						        <ui-select-match>{{$select.selected.name}}</ui-select-match>
						        <ui-select-choices repeat="item in vm.countries | filter: $select.search">
						            <span ng-bind-html="item.name  | highlight: $select.search"></span>
						        </ui-select-choices>
						    </ui-select>
						    <a class="edit-icon"><i class="fa fa-cog"></i></a>
						  </div>
						</div>
					</div>
				</div>
				<div class="bxp-col-6 float-left group">
					<label class="control-label bxp-label float-left">Basic (Grundlagen)</label>
					<div class="form-group modal-form-group width-100 group">
					  <div class="bxp-input float-left edit-icon-container">
					    <ui-select ng-disabled="vm.make" ng-model="vm.address.country" theme="bootstrap" remove-selected="false">
					        <ui-select-match>{{$select.selected.name}}</ui-select-match>
					        <ui-select-choices repeat="item in vm.countries | filter: $select.search">
					            <span ng-bind-html="item.name  | highlight: $select.search"></span>
					        </ui-select-choices>
					    </ui-select>
					    <a class="edit-icon"><i class="fa fa-cog"></i></a>
					  </div>
					</div>
				</div>
			</div>

			<div class="form-group group">
				<label class="control-label bxp-label float-left">Description (Beschreibung)</label>
				
				<div class="form-group modal-form-group width-100 group">
				  <div class="bxp-input float-left edit-icon-container">
				    <textarea class="form-control bxp-input float-left" rows="4" cols="50">
				    	
				    </textarea>
				    <a class="edit-icon"><i class="fa fa-cog">for text snippets!</i></a>
				  </div>
				</div>
			</div>

			<div class="bxp-form-note mt-5px mb-10px">Costs (Kosten)</div>

			<div class="form-group group">

				<div class="bxp-col-6 float-left group">

					<div class="group">
						<label class="control-label bxp-label float-left">Removal (Beseitigung)</label>
						<input class="form-control bxp-input float-left" type="text" ng-disabled="">
					</div>

					<div class="group">
						<label class="control-label bxp-label float-left">Impairment (Wertminderung)</label>
						<input class="form-control bxp-input float-left" type="text" ng-disabled="">
					</div>
				</div>

				<div class="bxp-col-6 float-left group">

					<div class="group">
						<label class="control-label bxp-label float-left">Withholding (yersen) (Einbehalt)</label>
						<input class="form-control bxp-input float-left" type="text" ng-disabled="">
					</div>

					 <input id="printable" type="checkbox" name="doNotprintItMan" value="doNotprintItMan"> <label for="printable">Do not print the costs (Kosten nicht ausdrucken)</label><br>

				</div>
			</div>

			NOTE: open a new tab for the images! 



		</bxp-responsive-tab>

	</bxp-responsive-tabs>
</form>

<script type="text/javascript">
	// Handles Bootstrap Tabs.
	var handleTabs = function() {
	    //activate tab if tab id provided in the URL
	    if (encodeURI(location.hash)) {
	    	var tabid = encodeURI(location.hash.substr(1));
	    	$('a[href="#' + tabid + '"]').parents('.tab-pane:hidden').each(function() {
	    		var tabid = $(this).attr("id");
	    		$('a[href="#' + tabid + '"]').click();
	    	});
	    	$('a[href="#' + tabid + '"]').click();
	    }

	    if ($().tabdrop) {
	    	$('.tabbable-tabdrop .nav-pills, .tabbable-tabdrop .nav-tabs').tabdrop({
	    		text: '<i class="fa fa-ellipsis-v"></i>&nbsp;<i class="fa fa-angle-down"></i>'
	    	});
	    }
	};

	handleTabs();
</script>