<bxp-more-details ng-if="!vm.isMobile" getstate="vm.getState" columndefs="vm.columnDefs" enable-new="true" selectedElement="vm.selected" new="vm.newProject" edit="vm.editProject" delete="vm.deleteProject" data="vm.data" id="vm.id" enableexport="vm.title!='Neu'" menu-options="vm.menuOptions" class="grid-dispo"
  pagetitle="vm.title">
  <div class="legende-netzwerk">
    <ul>
      <li class="contactformular">t3est1</li>
      <li class="keine-leistungen">test2g</li>
      <li class="gesperrt">Btest3</li>
    </ul>
</bxp-more-details>