<div class="bxp-form-container group" close-esc-key="FormCtrl.closeModal" func="FormCtrl.closeModal" ng-model="state">
    <div class="bxp-grunddaten">
        <div class="bxp-header-modal">
            <h3>{{FormCtrl.typeKind.charAt(0).toUpperCase() + FormCtrl.typeKind.substr(1).toLowerCase()}}</h3>
        </div>
        <div class="bxp-table-container" style="width: 400px;">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr ng-repeat="item in FormCtrl.items track by item.id">
                        <td>
                            <div ng-class="{'activex': FormCtrl.id === item.id}" ng-click="FormCtrl.id = item.id" class="bxp-grundatensatz" ng-dblclick="FormCtrl.submitForm()">
                                <input type="text" id="editInput" ng-if="item.editMode" ng-enter="FormCtrl.saveEntry(item.id)" ng-blur="FormCtrl.saveEntry(item.id)" ng-keyup="onInputKeyup($event)" ng-model="item.value" placeholder="" auto-focus>

                                <div class="hover-text-field" ng-click="FormCtrl.onSelect(item)">
                                    <span ng-if="!item.editMode">{{item.value}}
                                        <div style="display: none;" class="animate-show">
                                            <i class="fa fa-pencil" ng-click="FormCtrl.editEntry(item.id)"></i>
                                            <i class="fa fa-trash" ng-click="FormCtrl.deleteEntry(item.id)"></i>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="FormCtrl.show">
                <input type="text" auto-focus esc-key="FormCtrl.show = false;" ng-model="FormCtrl.newItem" ng-enter="FormCtrl.newEntry()" class="bxp-input-grundatensatz"/>
                <button class="bxp-rounded-button add tiny" ng-click="FormCtrl.newEntry()" type="button"><i class="fa fa-check"></i></button>
                <a ng-click="FormCtrl.show = false">
                    <button class="bxp-rounded-button delete tiny" type="button"><i class="fa fa-close"></i></button>
                </a>
            </div>

            <button ng-show="!FormCtrl.show" ng-click="FormCtrl.show = !FormCtrl.show; FormCtrl.editStatus = true" class="bxp-rounded-button tiny add">
                <i class="fa fa-plus"></i>
            </button>

        </div>

        <!-- <div class="bxp-button-container group">
            <span class="ta-right float-right">
                <button class="btn btn-primary" ng-click="FormCtrl.submitForm()" type="button">Speichern</button>
                <button id="idAbbrechen" class="btn default" ng-click="FormCtrl.closeModal()" type="button">Abbrechen</button>
            </span>
        </div> -->
    </div>
</div>