<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="waiting">Queue</a>
        </li>
    </ul>
</div>
<style>
        .pdf-container {
            width: 865px; 
            margin: 50px 0; 
            background: #fff; 
            padding: 15px 15px 50px 15px;
            min-height: 1000px;
            position: relative;
        }
        
        .pdf-container p {
            margin: 0;
        }

        .pdf-container th, .pdf-container td {
            border: none!important; 
            font-size: 11px;
        }

        .pdf-container ul {
            list-style: none;
        }

        .table-pdf th, .table-pdf td {
            width: 50%;
            font-weight: bold;
        }

        .table-pdf td {
            text-align: center!important;
        }
        
        .table-pdf-child th {
            padding-left: 20px!important;
        }

        .pdf-centered-img {
            margin: 0 auto;
            display: block;
            max-width: 650px;
        }

        .pdf-h3 {
            padding: 10px 0; 
            font-size: 14px; 
            font-weight: bold; 
            margin: 0;
            margin-bottom: 15px;
        }

        .pdf-page-bottom-bar {
            margin-top: 33px; color: #404040; 
            background: #ccc; 
            font-weight: bold; 
            font-size: 11px; 
            text-align: center; 
            padding: 10px 25px; 
            display: flex; 
            justify-content: space-between;
            position: absolute;
            bottom: 0;
        }

        .pdf-page-heading {
            padding: 0; 
            margin: 10px 0; 
            color: #404040; 
            background: #ccc; 
            font-weight: bold; 
            font-size: 14px; 
            text-align: center; 
            padding: 10px 0;
        }

        .pdf-p-margin-bottom p:not(:last-child) {
            margin-bottom: 20px;
        }

        .pdf-p-margin-bottom {
            font-size: 11px;
        }

        .pdf-check-list {
            display: flex;
            flex-wrap: wrap;
        }

        .pdf-check-list {
            padding: 0;
        }

        .pdf-check-list li {
            width: 50%;
            padding: 13px 8px;
            font-size: 12px;
            line-height: 14px;
        }

        .pdf-check-list li::before {
            content: "\f096";
            margin-right: 15px;
            display: inline-block;
            line-height: 14px;
            -webkit-font-smoothing: antialiased;
            width: 1.25em;
            text-align: center;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
        }

        .pdf-check-list li.checked:before {
            content: "\f046" !important;
        }

        .pdf-photo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            min-height: 400px;
            align-items: flex-end;
        }

        .pdf-photo-box {
            max-width: 48%;
            margin-bottom: 20px;
        }

        .pdf-photo-box img {
            width: 100%;
            max-height: 400px;
        }

        .pdf-cert-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 654px;
        }

        .pdf-cert-images-box {
            max-width: 280px;
        }

        .pdf-cert-images-box img {
            width: 100%;
            max-height: 400px;
        }

        .pdf-signature {
            width: 200px;
            margin-left: 30px;
        }

        .pdf-logo {
            width: 200px;
            float: right;
            margin-right: 36px;
        }

</style>
<div class="container">
    <h1>Create New Project <button ng-click="vm.createNewProject()">(+)</button></h1>
    <div class="pdf-container">
        <div style="width: 710px; margin: 0 auto;" class="row">
            <div class="col-md-12">
                <img class="pdf-logo" src="../../assets/img/pdf-logo.jpg">
            </div>
            <div class="col-md-6">
                <p style="font-size: 8px; font-weight: bold; text-decoration: underline; padding-bottom: 5px;">BAUEXPERTS Sachverständigenorganisation | Ostwall 223| 47798 Krefeld</p>
                <p style="font-size: 11px; font-weight: bold;">Firma</p>
                <p style="font-size: 11px; font-weight: bold;">ImmoSubstanz GmbH & Co. KG</p>
                <p style="font-size: 11px; font-weight: bold;">Rathausufer 23</p>
                <p style="font-size: 11px; font-weight: bold;">D 40231 Düsseldorf</p>
            </div>
            <div class="col-md-6" style="text-align: right; font-size: 9px;">
                <p>Ostwall 223</p>
                <p>47798 Krefeld</p>
                <p>www.bauexperts-krefeld.de</p>
                <p>Telefon 02151 - 3260018</p>
                <p>Telefax 02151 - 3262264</p>
                <p>Herr Frank Tekook</p>
                <p>zertifizierter Sachverständiger</p>
                <p>für Schäden an Gebäuden & Wertermittlung</p>
                <p>(TÜV-PersCert) + Z€ert-Verband</p>
                <p>Mobil 0174 - 2010505</p>
                <p>frank.tekook@bauexperts.de</p>
                <p style="margin-top: 10px; font-size: 11px; font-weight: bold; width: 180px; float: right; display: block;"><span style="float: left; text-align: left;">Datum:</span><span style="float: right;">14.08.2018</span></p>
                <p style="font-size: 11px; font-weight: bold; width: 180px; float: right; display: block; clear: both;"><span style="float: left; text-align: left;">Protokoll:</span><span style="float: right;">1-2018-BBQ-14</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pdf-page-heading" style="margin: 4px 0 33px 0;">Baubegleitende Qualitätskontrolle</div>
            <div style="margin-bottom: 25px;" class="col-md-12">
                <table style="font-size: 11px;" class="table">
                    <tbody>
                    <tr>
                        <th style="width: 150px;" scope="row">Auftrags-Nr.:</th>
                        <td>2018-BBQ-14 <span style="margin-left: 50px">Bestand - Sanierung Altbau</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="width: 150px;" scope="row">Bauvorhaben:</th>
                        <td>Umbau + Aufstockung eines Mehrfamilienhauses; Brehmstrasse 65; D 40239 Düsseldorf</td>
                    </tr>
                    <tr>
                        <th style="width: 150px;" scope="row">Auftraggeber:</th>
                        <td>Firma ImmoSubstanz GmbH & Co. KG; Rathausufer 23; D 40231 Düsseldorf</td>
                    </tr>
                    <tr>
                        <th style="width: 150px;" scope="row">Ansprechpartner:</th>
                        <td>
                            Frau Sprenger - Tel.: 0211-56942031 - Fax: 0211-56942060 - Mail: Csprenger@hanitax.de <br />
                            Herr Overwien - Mail: Moverwien@hanitax.de <br />
                            Herr Dr. Kind - Tel.: 0211-41819920 - Fax: 0211-882531023 - Mail: Sebastian.Kind@privatcapital.net
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table style="font-size: 11px; margin-bottom: 0;" class="table">
                    <tbody>
                        <tr>
                            <th style=" width: 150px;" scope="row">Datum der Begehung:</th>
                            <td>09.08.2018</td>
                        </tr>
                        <tr>
                            <th style="width: 150px;" scope="row">Protokollnummer:</th>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th style="width: 150px;" scope="row">Teilnehmer:</th>
                            <td>Frau Sprenger (ImmoSubstanz GmbH & Co. KG); Herr Ringwald (Architekt); Herr Ehl (Bauleiter); Herr Tekook (Sachverständiger)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <p style="font-weight: bold; font-size: 11px; margin: 0;">Berichtsabschluss: <span style="font-weight: normal; margin-left: 30px;">14.08.2018</span></p>
            </div>
            <div style="margin-top: 60px; font-size: 11px;" class="col-md-12">
                <p style="padding-left: 8px; margin: 0;">
                    <span style="font-weight: bold; display: block; margin-bottom: 8px;">Bautenstand zum Zeitpunkt der Begehung:</span>
                    Rohbauarbeiten abgeschlossen, Dacheindeckung weitestgehend fertig gestellt, Fenster eingebaut, Innenputz fertig, TGA-Rohinstallationen in Arbeit, Trockenbau- und Fliesenarbeiten in Arbeit, Fassade WDVS weitestgehend fertig gestellt.
                </p>
                <p style="text-align: center; font-size: 9px; margin: 0; margin-top: 40px;">Der Prüfbericht darf nur ungekürzt vervielfältigt werden. Jede Veröffentlichung bedarf der vorherigen, schriftlichen Genehmigung des Sachverständigen.</p>
            </div>
            <div class="col-md-12 pdf-page-bottom-bar">
                <div>Protokoll-Nr.: 1-2018-BBQ-14</div>
                <div>Seite 1 von 40</div>
                <div>SV: Herr Frank Tekook</div>
            </div>
        </div>
    </div>

    <div class="pdf-container">
            <div class="row">
                <div class="col-md-12 pdf-page-heading">Baubegleitende Qualitätskontrolle</div>
                <div class="col-md-12">
                    <h3 class="pdf-h3">Inhaltsverzeichnis:</h3>
                    <div class="col-md-12">
                        <table style="font-size: 11px; margin-bottom: 0;" class="table table-striped table-pdf">
                            <tbody>
                                <tr>
                                    <th scope="row">1. Allgemeine Angaben</th>
                                    <td>3</td>
                                </tr>
                                <tr class="table-pdf-child">
                                    <th scope="row">1.1 Leistungsbeschreibung / Leistungsabgrenzung</th>
                                    <td>3</td>
                                </tr>
                                <tr class="table-pdf-child">
                                    <th scope="row">1.2 Verwendete Unterlagen</th>
                                    <td>3</td>
                                </tr>
                                <tr class="table-pdf-child">
                                    <th scope="row">1.3 Eigenleistungen des Bauherrn</th>
                                    <td>3</td>
                                </tr>
                                <tr class="table-pdf-child">
                                    <th scope="row">1.4 Terminhistorie</th>
                                    <td>3</td>
                                </tr>
                                <tr class="table-pdf-child">
                                    <th scope="row">1.5 Daten der Ortsbesichtigung</th>
                                    <td>4</td>
                                </tr>
                                <tr class="table-pdf-child">
                                    <th scope="row">1.6 Allgemeine Hinweise und Anmerkungen</th>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <th scope="row">2. Prüffelder und Feststellungen zum Ortstermin</th>
                                    <td>5</td>
                                </tr>
                                <tr class="table-pdf-child">
                                    <th scope="row">2.1 Feststellungen 1/1-34</th>
                                    <td>6-39</td>
                                </tr>
                                <tr>
                                    <th scope="row">3. Überprüfung der Abarbeitung bisher festgestellter Mängel</th>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <th scope="row">4. Voraussetzungen für die Erteilung der Abnahme</th>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <th scope="row">5. Unterschrift</th>
                                    <td>40</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="pdf-h3">Objekt:</h3>
                        <img class="pdf-centered-img" src="https://via.placeholder.com/650">
                    </div>
                </div>

                <div class="col-md-12 pdf-page-bottom-bar">
                    <div>Protokoll-Nr.: 1-2018-BBQ-14</div>
                    <div>Seite 2 von 40</div>
                    <div>SV: Herr Frank Tekook</div>
                </div>
            </div>
        </div>

        <div class="pdf-container pdf-p-margin-bottom">
            <div class="row">
                <div class="col-md-12 pdf-page-heading">Baubegleitende Qualitätskontrolle</div>
                <div class="col-md-12">
                    <h3 class="pdf-h3" style="padding: 25px 0 10px">1. Allgemeine Angaben</h3>
                    <h3 class="pdf-h3" style="padding: 0 0 10px 0">1.1 Leistungsbeschreibung / Leistungsabgrenzung</h3>
                    <p>Grundlage dieses Protokolls und seiner Inhalte sind Erkenntnisse aus der Ortsbesichtigung (Sichtprüfung), sowie Inhalte aus de n bzw. den zur Verfügung gestellten Unterlagen.</p>
                    <p>Dieses Protokoll ist kein Bausubstanz- bzw. Bauschadensgutachten. Es wurden keine Untersuchungen bezüglich des Befalls durch tierische oder pflanzliche Schädlinge oder dergleichen durchgeführt.</p>
                    <p>Das Bauwerk wurde nicht nach schadstoffbelasteten Baustoffen untersucht. Eine Öffnung von Bauteilen (z.B. von Verkleidungen) zur Untersuchung der darunter befindlichen Konstruktion bzw. Materialien fand nicht statt. Die Funktionsfähigkeit einzelner Bauteile, Anlagen und technischer Einrichtungen (z.B. Heizung, Elektroanlagen) wurde nicht geprüft. Aussagen über Baumängel und Bauschäden können daher unvollständig sein.</p>
                    <h3 class="pdf-h3">1.2 Verwendete Unterlagen</h3>
                    <p>Der Auftraggeber stellte folgende Unterlagen zur Verfügung:</p>
                    <table style="font-size: 11px;" class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Unterlagen:</th>
                                <th scope="row">Datum der Übergabe:</th>
                            </tr>
                            <tr>
                                <td>Grundrisse Architekten Seidler-Ringwald, M.: 1:50: KG-01-Index G; EG-02-Index E; 1.-3. OG-03</td>
                                <td>03.08.2018</td>
                            </tr>
                            <tr>
                                <td>4.OG-06-Index E; DG-07-Index D; SP-08-Index C; Schnitt AA-09-Index C; Schnitt BB-10-Index D;</td>
                                <td>03.08.2018</td>
                            </tr>
                            <tr>
                                <td>Ansicht Strasse-11-Index A; Ansicht Strasse-12-Index D</td>
                                <td>03.08.2018</td>
                            </tr>
                            <tr>
                                <td>Badplanung Architekten Seidler-Ringwald, M.: 1:20, Vorabzüge, Nr. 01 bis 06, KG bis Spitzbod</td>
                                <td>03.08.2018</td>
                            </tr>
                            <tr>
                                <td>Detailplanung Archtekten Seidler-Ringwald, M.: 1:10, Nr. 01 bis 14</td>
                                <td>03.08.2018</td>
                            </tr>
                            <tr>
                                <td>Badplanung Architekten Seidler-Ringwald, M.: 1:20, Vorabzüge, Nr. 01 bis 06, KG bis Spitzbod</td>
                                <td>03.08.2018</td>
                            </tr>
                            <tr>
                                <td>Statik Büro IFB vom 18.05.2017-361 Seiten; 1. Nachtrag Büro IFB vom 28.07.2018-34 Seiten</td>
                                <td>03.08.2018</td>
                            </tr>
                            <tr>
                                <td>Positionspläne P-01a bis P-08b und Bewehrungspläne B-001a bis B-008 des Büro IFB</td>
                                <td>03.08.2018</td>
                            </tr>
                            <tr>
                                <td>Wärmeschutznachweis Büro IFB aus Mai 2017 - 7 Seiten</td>
                                <td>03.08.2018</td>
                            </tr>
                            <tr>
                                <td>Schallschutznachweis Büro IFB vom 17.06.2017 des Büro IFB - 21 Seiten</td>
                                <td>03.08.2018</td>
                            </tr>
                            <tr>
                                <td>Baugenehmigung Stadt Düsseldorf Nr. 21-BA-2265/17 vom 06.07.2018 - 28 Seiten</td>
                                <td>02.08.2018</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="pdf-h3">1.3 Eigenleistungen des Bauherrn</h3>
                    <p>Der Bauherr übernimmt folgende Eigenleistungen:</p>
                    <p>keine</p>
                    <h3 class="pdf-h3">1.4 Terminhistorie</h3>
                    <p>Termin-/Begehungshistorie, an folgenden Tagen wurden Ortstermine bisher durchgeführt:</p>
                </div>
                <div class="col-md-12 pdf-page-bottom-bar">
                    <div>Protokoll-Nr.: 1-2018-BBQ-14</div>
                    <div>Seite 3 von 40</div>
                    <div>SV: Herr Frank Tekook</div>
                </div>
            </div>
        </div>

        <div class="pdf-container pdf-p-margin-bottom">
            <div class="row">
                <div class="col-md-12 pdf-page-heading">Baubegleitende Qualitätskontrolle</div>
                <div class="col-md-12">
                    <h3 class="pdf-h3">1.5 Daten der Ortsbesichtigung</h3>
                    <table style="font-size: 11px; margin-bottom: 0;" class="table">
                        <tbody>
                            <tr>
                                <td>Datum der Ortsbesichtigung:</td>
                                <td>09.08.2018</td>
                            </tr>
                            <tr>
                                <td>Uhrzeit:</td>
                                <td>10:00 bis 12:00</td>
                            </tr>
                            <tr>
                                <td>Wetter:</td>
                                <td>sonnig / trocken</td>
                            </tr>
                            <tr>
                                <td>Temperatur:</td>
                                <td>30°C</td>
                            </tr>
                            <tr>
                                <td>Teilnehmer:</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <p style="padding-left: 8px;">Frau Sprenger (ImmoSubstanz GmbH & Co. KG); Herr Ringwald (Architekt); Herr Ehl (Bauleiter); Herr Tekook (Sachverständiger)</p>
                    <h3 class="pdf-h3">1.6 Allgemeine Hinweise und Anmerkungen</h3>
                    <p>Die Feststellungen in den o.g. Bereichen (Musterwohnung + Gemeinschaftseigentum) als exemplarische Feststellungen dienen zur weiteren Beachtung bei den Arbeiten in allen anderen Wohnungen und Bereichen.</p>
                </div>
                <div class="col-md-12 pdf-page-bottom-bar">
                    <div>Protokoll-Nr.: 1-2018-BBQ-14</div>
                    <div>Seite 4 von 40</div>
                    <div>SV: Herr Frank Tekook</div>
                </div>
            </div>
        </div>

        <div class="pdf-container pdf-p-margin-bottom">
            <div class="row">
                <div class="col-md-12 pdf-page-heading">Baubegleitende Qualitätskontrolle</div>
                <div class="col-md-12">
                    <h3 class="pdf-h3">2. Prüffelder und Feststellungen zum Ortstermin</h3>
                    <p>Zum Ortstermin wurden folgende Prüffelder baubegleitend geprüft:</p>
                    <ul class="pdf-check-list">
                        <li>001 - Gründung</li>
                        <li class="checked">002 - Kellerabdichtung</li>
                        <li>004 - Beton, Mauerwerk</li>
                        <li>005 - Holzbau</li>
                        <li>006 - Dachkonstruktion</li>
                        <li>003 - Kellerabdichtung</li>
                        <li class="checked">007 - Dacheindeckung, Dach</li>
                        <li class="checked">008 - Fenster, Außentüren</li>
                        <li class="checked">009 - Starkstrom, Rohinstallation</li>
                        <li>010 - Schwachstrom, Rohinstallation</li>
                        <li class="checked">011 - Heizung, Rohinstallation</li>
                        <li class="checked">012 - Sanitär, Rohinstallation</li>
                        <li>035 - Bodenbeläge, -einläufe, Treppen bei Gewerbe</li>
                        <li>036 - Sonstiges</li>
                    </ul>
                </div>
                <div class="col-md-12 pdf-page-bottom-bar">
                    <div>Protokoll-Nr.: 1-2018-BBQ-14</div>
                    <div>Seite 5 von 40</div>
                    <div>SV: Herr Frank Tekook</div>
                </div>
            </div>
        </div>

        <div class="pdf-container pdf-p-margin-bottom">
            <div class="row">
                <div class="col-md-12 pdf-page-heading">Baubegleitende Qualitätskontrolle</div>
                <div class="col-md-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 140px;" scope="row">Laufende Nummer:</th>
                                <td>1 / 1</td>
                            </tr>
                            <tr>
                                <th scope="row">Prüffelder:</th>
                                <td>014 - Putz- und Trockenbau</td>
                            </tr>
                            <tr>
                                <th scope="row">Beurteilung:</th>
                                <td>Ausführungsfehler</td>
                            </tr>
                            <tr>
                                <th scope="row">Status:</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Lage/Position:</th>
                                <td>3. OG-links / Musterwohnung (WE 8) / Bilder 01-03 + 01-04</td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Feststellung:</th>
                                <td>Hier Raum "Kind": Der Innenputz (Nassputz) wurde nach den Trockenbauwänden erstellt. In den Anschlussbereichen vom Nassputz an die GK-Trockenbauwände sind, vermutlich durch die erhöhte Feuchteeinwirkung, diverse dunkle Verfärbungen und Flecken zu erkennen. Um auszuschliessen, dass sich hier Schimmelpilze bilden und verbreiten, sollten sämtliche Bereiche die so aussehen, mit Wasserstoffperoxid oder hochprozentigem Alkohol behandelt werden.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pdf-photo">
                        <div class="pdf-photo-box">
                            <img src="https://via.placeholder.com/350x260" alt="">
                            <p class="photo-desc">Dichtband an Wannenrand fehlt</p>
                        </div>
                        <div class="pdf-photo-box">
                            <img src="https://via.placeholder.com/350x260" alt="">
                            <p class="photo-desc">Dichtband an Wannenrand fehlt</p>
                        </div>
                    </div>
                    <table style="margin-top: 20px; margin-bottom: 60px;" class="table">
                        <tbody>
                            <tr>
                                <th style="width: 140px;" scope="row">Grundlagen:</th>
                                <td>Allg. anerkannte Regeln der Technik; DIN 18534 - Abdichtung von Innenräumen</td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="margin-top: 20px;" class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Weitere Bemerkungen zur Feststellung:</th>
                            </tr>
                            <tr>
                                <td>
                                    Hier im EG: keine Dämmung der Bauteilfuge vorhanden, keine ausreichende mechanische Befestigung erkennbar, keine Abdichtung der Bauteilfuge vorhanden.keine Abdichtung der Bauteilfuge vorhanden.keine Abdichtung der Bauteilfuge vorhanden.keine Abdichtung der Bauteilfuge vorhanden.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 pdf-page-bottom-bar">
                    <div>Protokoll-Nr.: 1-2018-BBQ-14</div>
                    <div>Seite 6 von 40</div>
                    <div>SV: Herr Frank Tekook</div>
                </div>
            </div>
        </div>

        <div class="pdf-container pdf-p-margin-bottom">
            <div class="row">
                <div class="col-md-12 pdf-page-heading">Baubegleitende Qualitätskontrolle</div>
                <div class="col-md-12">
                    <h3 class="pdf-h3">3. Überprüfung der Abarbeitung bisher festgestellter Mängel</h3>
                    <p>Aufgrund der noch nicht abgestellten Mängel und der noch nicht vollständig abgeschlossenen Leistungen werden folgende Kosten als angemessen beurteilt.</p>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 120px;" scope="row">Beseitigungskosten:</th>
                                <td>.</td>
                            </tr>
                            <tr>
                                <th scope="row">Wertminderung:</th>
                                <td>.</td>
                            </tr>
                            <tr>
                                <th scope="row">Einbehalt:</th>
                                <td>.</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="pdf-h3">4. Voraussetzungen für die Erteilung der Abnahme</h3>
                    <p>Der Status der durch die Sachverständigen festgestellten Mängel zeigt an:</p>
                    <p style="padding-left: 40px">Abnahme kann nicht erteilt werden</p>
                    <p>Besichtigt wurde in erster Linie die Musterwohnung im 3. OG links, da diese im Bautenstand am weitesten fertig gestellt ist. Außerdem wurde das Gemeinschaftseigentum besichtigt.</p>
                    <h3 class="pdf-h3">5. Unterschrift</h3>
                    <p>Krefeld, den 14.08.2018</p>
                    <img class="pdf-signature" style="width: 200px; height: auto" src="../../assets/img/pdf-signature.jpg">
                    <p>Herr Frank Tekook</p>
                    <div class="pdf-cert-images">
                        <div class="pdf-cert-images-box">
                            <img src="../../assets/img/pdf-stamp.jpg">
                        </div>
                        <div class="pdf-cert-images-box">
                            <img src="../../assets/img/pdf-tuv.jpg">
                        </div>
                    </div>
                    <p style="color: #000; font-style: italic; margin-top: 20px; margin-bottom: 3px;">Partner der Sachverständigenorganisation Bauexperts</p>
                    <p style="color: #000; font-weight: bold; width: 654px;">Staatlich geprüfter Techniker - Fachrichtung Hochbau <br>
                        TÜV-Rheinland zertifizierter Sachverständiger für Schäden an Gebäuden & Wertermittlung Z€rt-Verband geprüfter Sachverständiger für Schäden an Gebäuden & Wertermittlung SiGeKo - FQL geprüfter Sicherheits- und Gesundheitsschutzkoordinator nach RAB 30</p>
                </div>
                <div class="col-md-12 pdf-page-bottom-bar">
                    <div>Protokoll-Nr.: 1-2018-BBQ-14</div>
                    <div>Seite 40 von 40</div>
                    <div>SV: Herr Frank Tekook</div>
                </div>
            </div>
        </div>
</div>