<div class="bxp-customer-auftrag-modal">
	<form action="#" name="protocol" role="form" id="protocol" ng-model="state" func="FormCtrl.closeModal" close-esc-key
	 ng-submit="submitForm($event)" class="bxp-customer-auftrag-modal bxp-form group" ng-class="{ 'bxp-customer-auftrag': FormCtrl.isAuftrag}"
	 novalidate autocomplete="off">
		<bxp-responsive-tabs form-name="Order" tabs="tabs" selected-tab="FormCtrl.selectedTab" close-modal="FormCtrl.closeModal"
		 submit-form="FormCtrl.submitForm">
			<bxp-responsive-tab tab="NewProtocol" selected-tab="FormCtrl.selectedTab">
				<div class="bxp-form-note mt-5px mb-10px">Angaben zum Ortstermin</div>

		          <!--<div class="form-group group">
					<label class="radio-inline">
						<input ng-disabled="" type="radio" value="inspectionYes" ng-model="FormCtrl.protocol.isLocalInspection">Es konnte besichtigt werden
					</label>
					<label class="radio-inline">
						<input ng-disabled="" type="radio" value="inspectionNo" ng-model="FormCtrl.protocol.isLocalInspection">Es konnte nicht besichtigt werden
					</label>
				</div> -->              

				<div class="form-group group">
					<div class="bxp-col-6 float-left form-group group">
						<div ng-class="">
							<label class="control-label bxp-label float-left">Datum</label>
							<input class="form-control event-date float-left" type="date" name="date" ng-model="FormCtrl.protocol.date" required>
						</div>
					</div>

					<div class="bxp-col-6 float-left form-group group">
						<div ng-class="">
							<label class="control-label bxp-label float-left">Teilnehmer</label>
							<bxp-participants-list data="FormCtrl.protocol.participants"></bxp-participants-list>
						</div>
					</div>
				</div>

                <div class="form-group group">
                    <label class="control-label bxp-label float-left">Es konnte besichtigt werden:</label>
                    <textarea rows="4" cols="50" style="resize: none;" ng-model="FormCtrl.protocol.inspected" class="form-control bxp-input float-left"></textarea>
                </div>

                <div class="form-group group">
                    <label class="control-label bxp-label float-left">Es konnte nicht besichtigt werden:</label>
                    <textarea rows="4" cols="50" style="resize: none;" ng-model="FormCtrl.protocol.notInspected" class="form-control bxp-input float-left"></textarea>
                </div>
                
                <div class="bxp-form-note mt-5px mb-10px">Besichtigungsverhältnisse</div>

				<div class="form-group group">
					<div class="bxp-col-6 float-left form-group group">
						<label class="control-label bxp-label float-left">Temperatur</label>
						<input name="tempreture" class="form-control bxp-input float-left" type="text" ng-model="FormCtrl.protocol.tempreture"
						 ui-number-mask="0" maxlength="2" ui-hide-group-sep>
					</div>

					<div class="bxp-col-6 float-left form-group group">
						<label class="bxp-label control-label float-left">Wetter</label>
                        <ui-select ng-model="FormCtrl.protocol.weather" theme="bootstrap" remove-selected="false">
                            <ui-select-match allow-clear>{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="item in ['test1', 'test2'] | filter: $select.search">
                                <span ng-bind-html="item | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
					</div>
				</div>
				<div class="form-group group">
					<label class="control-label bxp-label float-left">Besonderheiten</label>
					<textarea class="form-control bxp-input float-left" rows="4" cols="50" ng-model="FormCtrl.protocol.particularties"></textarea>
				</div>
                <hr>
                <div class="bxp-form-note mt-5px mb-10px">Angaben zum Protokoll</div>

				<div class="form-group group">
					<div class="bxp-col-6 float-left form-group group">
						<div ng-class="">
							<label class="control-label bxp-label float-left">Datum Bericht</label>
							<input class="form-control event-date float-left" type="date" name="date" ng-model="FormCtrl.protocol.reportDate">
						</div>
					</div>

					<div class="bxp-col-6 float-left form-group group">
						<div ng-class="">
							<label class="control-label bxp-label float-left">Gesamtbeurteilung</label>
							<!-- Dropdown from land as placeholder -->
							<div id="country-select" class="bxp-input country-select float-left">
								<ui-select ng-disabled="vm.make" ng-model="FormCtrl.protocol.projectType" theme="bootstrap" remove-selected="false">
									<ui-select-match allow-clear>
										{{$select.selected.value}}
									</ui-select-match>
									<ui-select-choices repeat="item.id as item in FormCtrl.overals | filter: $select.search">
										<div class="legende-netzwerk">
											<ul>
												<li class="" ng-class="{
													'lightgreen':         item.value === 'green',
													'keine-leistungen':   item.value === 'yellow',
													'gesperrt':           item.value === 'red' 
												}">
												<span ng-bind-html="item.value | highlight: $select.search"></span></li>
											</ul>
										</div>	
									</ui-select-choices>
								</ui-select>
								<a class="edit-icon" ng-click="FormCtrl.openBaseDataModel('Vorhaben', FormCtrl.projectTypes)"><i class="fa fa-cog"></i></a>
							</div>

						</div>
					</div>
				</div>
				<div class="form-group group">
					<label class="control-label bxp-label float-left">Bautenstand</label>
					<!-- Dropdown from land as placeholder -->
					<div id="country-select" class="bxp-input country-select float-left">
						<ui-select ng-disabled="vm.make" ng-model="FormCtrl.protocol.constructionState" theme="bootstrap" remove-selected="false">
							<ui-select-match allow-clear>{{$select.selected.value}}</ui-select-match>
							<ui-select-choices repeat="item.id as item in FormCtrl.constructionStates | filter: $select.search">
								<span ng-bind-html="item.value  | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
						<a class="edit-icon" ng-click="FormCtrl.openBaseDataModel('Bautenstand', FormCtrl.constructionStates)"><i class="fa fa-cog"></i></a>
					</div>
				</div>
				<div class="form-group group">
					<label class="control-label bxp-label float-left">Abnahme</label>
					<!-- Dropdown from land as placeholder -->
					<div id="country-select" class="bxp-input country-select float-left">
						<ui-select ng-disabled="vm.make" ng-model="FormCtrl.protocol.acceptance" theme="bootstrap" remove-selected="false">
							<ui-select-match allow-clear>{{$select.selected.value}}</ui-select-match>
							<ui-select-choices repeat="item.id as item in FormCtrl.acceptances | filter: $select.search">
								<span ng-bind-html="item.value  | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
						<a class="edit-icon" ng-click="FormCtrl.openBaseDataModel('abnahme', FormCtrl.acceptance)"><i class="fa fa-cog"></i></a>
					</div>
				</div>

				<div class="form-group group">
					<label class="control-label bxp-label float-left">Begründung Abnahme</label>
					<textarea class="form-control bxp-input float-left" rows="4" cols="50" ng-model="FormCtrl.protocol.acceptanceComment"></textarea>
				</div>

				<div class="form-group group">
					<label class="control-label bxp-label float-left">Hinweise und Anmerkungen</label>
					<textarea class="form-control bxp-input float-left" rows="4" cols="50" ng-model="FormCtrl.protocol.note"> </textarea>
				</div>
			</bxp-responsive-tab>

			<bxp-responsive-tab tab="ChoosingDetections" selected-tab="FormCtrl.selectedTab">
				<div class="table-responsive row">
					<div style="overflow:auto;" id="onClickHandlerAD" on-mouse-click="vm.onMouseClick()">
						<table id="idAnschr" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" context-menu="menuOptions"
						 style="width: 100%!important">
							<thead>
								<tr>
									<th>Status</th>
									<th>Nr</th>
									<th>Datum</th>
									<th>prueffeld</th>
									<th>Beurteilung</th>
									<th>Bild</th>
									<th><input type="checkbox" ng-click="FormCtrl.checkAll('detections', FormCtrl.selectAllAdd,'isAddProtocol')" ng-model="FormCtrl.selectAllAdd"> Add to Protocol </th>
									<th><input type="checkbox" ng-click="FormCtrl.checkAll('detections', FormCtrl.selectAllShortInfo, 'isAddShortInfo')" ng-model="FormCtrl.selectAllShortInfo"> Add Short Info </th>
									<th>Kosten</th>
								</tr>
							</thead>
							<tbody ng-if="vm.anschriften.length == 0" ng-click="vm.newAnschrift()"></tbody>
							<tbody ng-if="vm.anschriften.length != 0">
								<tr ng-dblclick="FormCtrl.editDetection(detection)" ng-repeat="detection in FormCtrl.detections" ng-click="FormCtrl.setSelected('detection', $index, detection)"
								ng-class="{selected: detection.number === FormCtrl.selectedDetection.number}">
									<td>
										<div tooltip-placement="right" uib-tooltip="{{ FormCtrl.getBaseDataValueById(detection.detail.status, 'statuses') }}" class="" ng-class="{
											'bxp-state-leistungen':         detection.detail.status === 4,
											'bxp-state-inactive':           detection.detail.status === 1,
											'bxp-state-active':             detection.detail.status === 2 || detection.detail.status === 3
											}">
										</div>
									</td>
									<td>{{ detection.number }}</td>
									<td>{{ detection.detail.date | date }}</td>
									<td>{{ FormCtrl.getBaseDataValueById(detection.detail.testField, 'prueffeld') }}</td>
									<td>{{ FormCtrl.getBaseDataValueById(detection.detail.evaluation, 'beurteilung') }}</td>
									<td>
										<img ng-src="{{ detection.coverPicUrl }}" alt="Random Photo" height="40" width="40">
									</td>
									<td> <input type="checkbox" ng-model="detection.isAddProtocol"> </td>
									<td> <input type="checkbox" ng-model="detection.isAddShortInfo"> </td>
									<td> <input type="checkbox" ng-model="detection.detail.costs.isPrint" /> </td>
								</tr>
							</tbody>
						</table>

						<div class="legende-netzwerk">
							<ul>
								<li class="lightgreen">t3est1</li>
								<li class="keine-leistungen">test2g</li>
								<li class="gesperrt">Btest3</li>
							</ul>
						</div>
					</div>
				</div>
			</bxp-responsive-tab>

			<bxp-responsive-tab tab="Documents" selected-tab="FormCtrl.selectedTab">
				<div class="table-responsive row">
					<div style="overflow:auto;" id="onClickHandlerAD" on-mouse-click="vm.onMouseClick()">
						<table id="idAnschr" datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" context-menu="menuOptions"
						 style="width: 100%!important">

							<thead>
								<tr>
									<th>Nr</th>
									<th>Datum</th>
									<th>Protokolltyp</th>
									<th>Icon</th>
									<th><input type="checkbox" ng-click="FormCtrl.checkAll('documents', FormCtrl.selectAllAddJustName,'isAddJustName')" ng-model="FormCtrl.selectAllAddJustName"> Add Just Name </th>
									<th><input type="checkbox" ng-click="FormCtrl.checkAll('documents', FormCtrl.selectAllAddAsAttachment, 'isAddAttachment')" ng-model="FormCtrl.selectAllAddAsAttachment"> Add as Attachment </th>
									<th><input type="checkbox" ng-click="FormCtrl.checkAll(FormCtrl.isDisplayAll,'isDisplay')" ng-model="FormCtrl.isDisplayAll"> Display </th>
								</tr>
							</thead>
							<tbody ng-if="vm.anschriften.length == 0" ng-click="vm.newAnschrift()"></tbody>
							<tbody ng-if="vm.anschriften.length != 0">
								<tr ng-dblclick="FormCtrl.editProtocolDocument(document)" ng-repeat="document in FormCtrl.documents" ng-click="FormCtrl.setSelected('document', $index, document)"
								ng-class="{selected: document.id === FormCtrl.selectedDocument.id}">
									<td>{{ document.id }}</td>
									<td>{{ document.document.date | date }}</td>
									<td>{{ document.filename }}</td>
									<td>{{ document.type }}</td>
									<td> <input type="checkbox" ng-model="document.isAddJustName"> </td>
									<td> <input type="checkbox" ng-model="document.isAddAttachment"> </td>
									<td> <input type="checkbox" ng-model="document.isDisplay"> </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</bxp-responsive-tab>

		</bxp-responsive-tabs>
	</form>
</div>