<form action="#" name="protocol" role="form" id="protocol" ng-model="state" func="FormCtrl.closeModal" close-esc-key
 ng-submit="submitForm($event)" class="bxp-form group" ng-class="{ 'bxp-customer-auftrag': FormCtrl.isAuftrag}"
 novalidate autocomplete="off">
	<bxp-responsive-in-modal form-name="Protocol" selected-tab="FormCtrl.selectedTab" close-modal="FormCtrl.closeModal"
	 submit-form="submitForm">
		<div class="bxp-form-note mt-5px mb-10px">Creating new Protocol {{ vm.protocol }} </div>
		<div class="form-group group">
			<label class="radio-inline">
				<input ng-disabled="" type="radio" value="inspectionYes" name="local_schedule"> local inspection was possible (es
				konnte besichtigt werden)
			</label>
			<label class="radio-inline">
				<input ng-disabled="" type="radio" value="inspectionNo" name="local_schedule"> local inspection was not possible
				(es
				konnte nicht besichtigt werden)
			</label>
		</div>
		<div class="form-group group">
			<div class="bxp-col-6 float-left form-group group">
				<div ng-class="">
					<label class="control-label bxp-label float-left">Date Local Inspection (Datum Begehung)</label>
					<input class="form-control bxp-input float-left" type="text" ng-disabled="" ng-model="FormCtrl.protocol.localInspectionDate">
				</div>
			</div>

			<div class="bxp-col-6 float-left form-group group">
				<div ng-class="">
					<label class="control-label bxp-label float-left">Participants (Teilnehmer)</label>
					<textarea class="form-control bxp-input float-left" rows="4" cols="50" ng-model="FormCtrl.protocol.participants">

	    </textarea>

				</div>
			</div>
		</div>

		<div class="form-group group">
			<div class="bxp-col-6 float-left form-group group">
				<div ng-class="">
					<label class="control-label bxp-label float-left">Temperature (Temperatur)</label>
					<input class="form-control bxp-input float-left" type="text" ng-model="FormCtrl.protocol.tempreture">
				</div>
			</div>

			<div class="bxp-col-6 float-left form-group group">
				<div ng-class="">
					<label class="control-label bxp-label float-left">Weather (Wetter)</label>
					<input class="form-control bxp-input float-left" type="text" ng-model="FormCtrl.protocol.weather">

				</div>
			</div>
		</div>

		<div class="form-group group">
			<label class="control-label bxp-label float-left">Peculiarity (Besonderheiten)</label>
			<textarea class="form-control bxp-input float-left" rows="4" cols="50" ng-model="FormCtrl.protocol.particularties">

   </textarea>
		</div>

		<div class="form-group group">
			<div class="bxp-col-6 float-left form-group group">
				<div ng-class="">
					<label class="control-label bxp-label float-left">Date report (Datum Bericht</label>
					<input class="form-control bxp-input float-left" type="text" ng-disabled="" ng-model="FormCtrl.protocol.reportDate">
				</div>
			</div>

			<div class="bxp-col-6 float-left form-group group">
				<div ng-class="">
					<label class="control-label bxp-label float-left">Projec type (Art des Vorhabens)</label>
					{{ FormCtrl.protocol.projectType }}
					<!-- Dropdown from land as placeholder -->
					<div id="country-select" class="bxp-input country-select float-left">
						<ui-select ng-disabled="vm.make" ng-model="FormCtrl.protocol.projectType" theme="bootstrap" remove-selected="false">
							<ui-select-match>{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="item in FormCtrl.projectTypes | filter: $select.search">
								<span ng-bind-html="item.name  | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>

				</div>
			</div>
		</div>

		<div class="form-group group">
			<label class="control-label bxp-label float-left">Construction state (Bautenstand)</label>
			{{ FormCtrl.protocol.constructionState }}
			<!-- Dropdown from land as placeholder -->
			<div id="country-select" class="bxp-input country-select float-left">
				<ui-select ng-disabled="vm.make" ng-model="FormCtrl.protocol.constructionState" theme="bootstrap" remove-selected="false">
					<ui-select-match>{{$select.selected.name}}</ui-select-match>
					<ui-select-choices repeat="item in FormCtrl.constructionStates | filter: $select.search">
						<span ng-bind-html="item.name  | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div class="form-group group">
			<div class="bxp-col-6 float-left form-group group">
				<label class="control-label bxp-label float-left">Acceptance (Abnahme)</label>
				{{ FormCtrl.protocol.acceptance }}
				<!-- Dropdown from land as placeholder -->
				<div id="country-select" class="bxp-input country-select float-left">
					<ui-select ng-disabled="vm.make" ng-model="FormCtrl.protocol.acceptance" theme="bootstrap" remove-selected="false">
						<ui-select-match>{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item in FormCtrl.acceptances | filter: $select.search">
							<span ng-bind-html="item.name  | highlight: $select.search"></span>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>

			<div class="bxp-col-6 float-left form-group group">
				<label class="control-label bxp-label float-left">Acceptance Comment (Abnahmekommentar)</label>
				<textarea class="form-control bxp-input float-left" rows="4" cols="50" ng-model="FormCtrl.protocol.acceptanceComment">

	    </textarea>

			</div>
		</div>

		<div class="form-group group">
			<label class="control-label bxp-label float-left">Notes (Hinweise und Anmerkungen)</label>
			<textarea class="form-control bxp-input float-left" rows="4" cols="50" ng-model="FormCtrl.protocol.note">

   </textarea>
		</div>

		<div>Here: choosing of Feststellungen</div>
		<div>
			<img ng-src="{{ FormCtrl.protocol.titlePicUrl }}" alt="titlePicUrl" srcset="">
		</div>

	</bxp-responsive-in-modal>
</form>