/* here you can put your own css to customize and override the theme */
.activex {
  background-color: #286090;
  color: #f8f8f8; }

.page-header.navbar .page-logo .logo-default {
  margin-top: 12px; }

.modal {
  text-align: center; }

.modal-lg {
  width: auto;
  display: inline-block;
  text-align: left; }

@media screen and (min-width: 992px) {
  .modal-lg {
    width: auto; } }

.modal-box {
  margin: 0 auto;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  position: relative; }

.modal-content {
  top: 30px; }

@media screen and (min-width: 992px) {
  .modal-box {
    width: 50%;
    padding: 30px; } }

.modal-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.5; }

.modal-holder {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 2;
  padding: 30px 15px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.ta-left {
  text-align: left; }

.ta-right {
  text-align: right; }

.ta-center {
  text-align: center; }

.bxp-form .bxp-container {
  border: 1px solid #d1d1d1;
  padding: 18px 0 0;
  background: #F5F5F5; }
  .bxp-form .bxp-container .nav-tabs {
    padding: 0 22px;
    margin-bottom: 0; }
    .bxp-form .bxp-container .nav-tabs > li > a {
      border: none;
      border-bottom: 2px solid transparent;
      color: #6b6b6b;
      padding: 10px 8px;
      margin: 0 10px 0; }
    .bxp-form .bxp-container .nav-tabs > li > a:hover {
      background: none;
      color: #0074B7;
      border-bottom: 2px solid #0074B7; }
    .bxp-form .bxp-container .nav-tabs > li.active > a,
    .bxp-form .bxp-container .nav-tabs .nav-tabs > li.active > a:focus,
    .bxp-form .bxp-container .nav-tabs .nav-tabs > li.active > a:hover {
      background: none;
      border: none;
      border-bottom: 2px solid #0074B7;
      color: #0074B7; }
  .bxp-form .bxp-container .tab-content {
    min-height: 600px;
    padding: 22px 36px; }

@media screen and (min-width: 992px) {
  .bxp-form .bxp-container {
    width: 950px; } }

@media screen and (min-width: 1200px) {
  .bxp-form .bxp-container {
    width: 1150px; } }

.bxp-form .bxp-col-6 {
  width: 100%;
  float: none;
  padding: 0; }

@media screen and (min-width: 850px) {
  .bxp-form .bxp-col-6 {
    width: 50%;
    float: left;
    padding-left: 15px; }
  .bxp-form .bxp-col-6:first-child {
    width: 50%;
    float: left;
    padding-left: 0;
    padding-right: 15px; } }

.bxp-form .form-group {
  margin-bottom: 18px; }
  .bxp-form .form-group select {
    width: 100%;
    border: 1px solid #c2cad8;
    padding: 6px 12px; }

.bxp-form .bxp-form-note {
  font-weight: bold;
  margin: 10px 0 20px; }

.bxp-form .form-group-tel {
  margin-top: 17px; }

.bxp-form .bxp-label {
  width: 20%;
  margin-top: 6px; }

.bxp-form .bxp-input {
  width: 75%;
  margin-left: 5%; }

.bxp-form .bxp-input-gender {
  width: 75%;
  margin-left: 5%;
  margin-bottom: 20px; }
  .bxp-form .bxp-input-gender .form-control {
    width: 100%;
    margin-left: 0; }

.bxp-form .bxp-label-title {
  width: 20%;
  margin-left: 0; }

.bxp-form .bxp-input-title {
  width: 75%;
  margin-left: 5%; }
  .bxp-form .bxp-input-title .form-control {
    width: 100%;
    margin-left: 0; }

@media (min-width: 580px) {
  .bxp-form .bxp-input-gender {
    width: 28%;
    margin-left: 5%;
    margin-bottom: 0; }
    .bxp-form .bxp-input-gender .form-control {
      width: 100%;
      margin-left: 0; }
  .bxp-form .bxp-label-title {
    width: 15%;
    margin-left: 5%; }
  .bxp-form .bxp-input-title {
    width: 27%;
    margin-left: 0; }
    .bxp-form .bxp-input-title .form-control {
      width: 100%;
      margin-left: 0; } }

.bxp-form .bxp-input-street {
  width: 45%;
  margin-left: 5%; }

.bxp-form .bxp-label-land {
  margin-left: 5%;
  width: 10%; }

.bxp-form .bxp-input-land {
  width: 15%; }

@media (min-width: 580px) {
  .bxp-form .bxp-input-street {
    width: 40%;
    margin-left: 5%; }
  .bxp-form .bxp-label-land {
    margin-left: 5%;
    width: 15%; }
  .bxp-form .bxp-input-land {
    width: 15%; } }

.bxp-form .bxp-input-plz {
  width: 15%; }

.bxp-form .bxp-label-ort {
  width: 10%;
  margin-left: 5%; }

.bxp-form .bxp-input-ort {
  width: 45%; }
  .bxp-form .bxp-input-ort input {
    width: 100%;
    margin: 0; }

.bxp-form .checkbox-container {
  padding-left: 25%; }
  .bxp-form .checkbox-container label {
    display: block; }

.bxp-button-container {
  border-top: 1px solid #d1d1d1;
  padding: 18px 35px 12px;
  background-color: #EEEEEE; }
  .bxp-button-container button {
    min-width: 140px;
    width: 100%;
    margin-bottom: 16px; }
  .bxp-button-container button + button {
    margin-left: 0; }
  .bxp-button-container .btn.default {
    background-color: #DCDCDC;
    border: 1px solid #D0D0D0; }
    .bxp-button-container .btn.default:hover {
      background-color: #c3c3c3; }
  .bxp-button-container .float-left, .bxp-button-container .float-right {
    float: none !important; }
  .bxp-button-container span {
    width: 100%; }
  @media (min-width: 580px) {
    .bxp-button-container span {
      width: auto; }
    .bxp-button-container button {
      width: auto;
      margin-bottom: 0; }
    .bxp-button-container button + button {
      margin-left: 12px; }
    .bxp-button-container .float-left {
      float: left !important; }
    .bxp-button-container .float-right {
      float: right !important; } }

.tab-content .bxp-button-container {
  background: none;
  border: none;
  padding-bottom: 20px; }

.tab-content button {
  min-width: 110px; }

.tab-content table .even {
  background: #e8e8e8; }

.bxp-inner-modal {
  max-width: 560px;
  padding: 20px !important;
  margin: 0 auto; }

.bxp-individual-fields .form-group {
  float: none;
  width: 100%;
  margin-left: 0;
  margin-bottom: 10px; }

.bxp-individual-fields .hover-edit-trigger {
  width: 100%;
  float: none;
  margin-bottom: 5px; }
  .bxp-individual-fields .hover-edit-trigger .hover-text-field {
    padding: 6px 4px;
    height: 34px; }
    .bxp-individual-fields .hover-edit-trigger .hover-text-field .icon-pencil {
      font-size: 9px;
      color: #888; }
  .bxp-individual-fields .hover-edit-trigger:hover {
    cursor: pointer; }
  .bxp-individual-fields .hover-edit-trigger input {
    height: 34px;
    padding: 6px 3px;
    background-color: #fff;
    border: 1px solid #c2cad8; }

.bxp-individual-fields .bxp-input {
  width: 100%;
  margin: 0; }

.bxp-individual-fields .bxp-button-container {
  margin-top: 20px; }

@media (min-width: 580px) {
  .bxp-individual-fields .form-group {
    float: left;
    width: 47.5%;
    margin-left: 5%; }
  .bxp-individual-fields .form-group:nth-child(2n+1) {
    margin-left: 0;
    clear: both; }
  .bxp-individual-fields .hover-edit-trigger {
    width: 30%;
    float: left; }
  .bxp-individual-fields .bxp-input {
    width: 70%; } }

@media (min-width: 992px) {
  .bxp-individual-fields .hover-edit-trigger {
    width: 25%; }
  .bxp-individual-fields .bxp-input {
    width: 75%; } }

.bxp-upload-container p {
  margin-top: 5px; }

.bxp-upload-container .bxp-upload-field {
  background: #fff;
  border-radius: 5px !important;
  border: 1px solid #ddd;
  height: 135px;
  width: 180px;
  padding: 36px 0px;
  font-size: 40px;
  margin: 0 20px 0 0;
  cursor: pointer; }
  .bxp-upload-container .bxp-upload-field:hover {
    background: #286090;
    border: 1px solid #286090; }
  .bxp-upload-container .bxp-upload-field i {
    color: #286090; }
  .bxp-upload-container .bxp-upload-field:hover i {
    color: #fff; }

.bxp-edit {
  font-size: 12px;
  text-align: right; }

.bxp-grunddaten {
  padding-bottom: 10px; }
  .bxp-grunddaten table {
    margin-bottom: 5px; }
    .bxp-grunddaten table td {
      padding: 0 !important; }
      .bxp-grunddaten table td .bxp-grundatensatz {
        padding: 8px; }
        .bxp-grunddaten table td .bxp-grundatensatz:hover {
          cursor: pointer; }
        .bxp-grunddaten table td .bxp-grundatensatz input {
          color: #444;
          border: none;
          background: #dbdbdb; }
  .bxp-grunddaten .bxp-add-grundatensatz {
    display: inline-block;
    font-size: 21px;
    margin-top: 5px; }
  .bxp-grunddaten .bxp-input-grundatensatz {
    border: none;
    background: #dbdbdb;
    padding: 6px; }

.bxp-statistik span {
  display: block; }

.bxp-form-anschrift .bxp-container {
  padding: 22px 36px;
  max-width: 850px; }
  .bxp-form-anschrift .bxp-container .anschrift-bezeichnung input {
    width: 100%; }
  .bxp-form-anschrift .bxp-container .anschrift-type {
    margin: 18px 0 14px; }
  .bxp-form-anschrift .bxp-container .anschrift-verwendung label {
    display: block; }

.dataTable tbody tr:nth-child(2n) {
  background-color: #F2F2F2; }

.dataTable tbody tr:hover, .dataTable tbody tr.selected {
  background-color: #0074b7 !important;
  color: #f8f8f8 !important;
  cursor: pointer; }

.page-header-fixed .page-container {
  height: 100vh;
  margin-top: 0;
  padding-bottom: 50px;
  position: static !important; }
  .page-header-fixed .page-container .page-content-wrapper {
    height: 100%;
    overflow-y: auto;
    background-color: #fff; }

.page-content-wrapper .page-content {
  min-height: auto !important; }

.myAjaxController .bxp-button-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 235px;
  padding-right: 285px; }

.bxp-container button {
  min-width: 140px;
  width: 100%;
  margin-bottom: 16px; }

.bxp-container button + button {
  margin-left: 0; }

.bxp-container span {
  width: 100%; }

@media (min-width: 580px) {
  .bxp-container span {
    width: auto; }
  .bxp-container button {
    width: auto;
    margin-bottom: 0; }
  .bxp-container button + button {
    margin-left: 12px; } }

.btn-ap-anlegen {
  background: none; }
  .btn-ap-anlegen i {
    margin-right: 5px; }
  .btn-ap-anlegen:hover {
    cursor: pointer;
    background-color: #dedede; }

table.table-uploads td {
  padding: 0 !important; }
  table.table-uploads td:hover {
    cursor: pointer; }
  table.table-uploads td .bxp-grundatensatz {
    padding: 8px; }
    table.table-uploads td .bxp-grundatensatz:hover {
      background: #286090;
      color: #fff; }
